<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="text-custom">
    <%- include('partials/header') %>
    <div class="h-custom flex items-center justify-center">
        <form action="/users/register" method="POST" class="w-1/3 border border-gray-300 flex flex-col p-8 rounded-lg">
            <legend class="text-center text-2xl font-bold">Register Form</legend>
            <input type="text" name="firstName" placeholder="First Name" class="bg-gray-300 border border-gray-300 px-2 py-3 my-3 rounded-lg">
            <input type="text" name="lastName" placeholder="Last Name" class="bg-gray-300 border border-gray-300 px-2 py-3 my-3 rounded-lg">
            <input type="email" name="email" placeholder="Email" class="bg-gray-300 border border-gray-300 px-2 py-3 my-3 rounded-lg">
            <div class="flex items-center">
                <div>
                    <label for="admin" class="text-xl font-bold">Admin</label>
                    <input type="radio" id="admin" name="admin">
                </div>
           
                <div class="ml-4">
                    <label for="user" class="text-xl font-bold">User</label>
                    <input type="radio" name="user" id="user">
                </div>
            </div>
            
            
            <input type="text" name="city" placeholder="City" class="bg-gray-300 border border-gray-300 px-2 py-3 my-3 rounded-lg">
            <input type="password" name="passwd" placeholder="Password" class="bg-gray-300 border border-gray-300 px-2 py-3 my-3 rounded-lg">
            <input type="submit" value="Register" class="bg-blue-500 hover:bg-blue-400 text-white font-bold text-xl border border-gray-300 px-2 py-3 my-3 rounded-lg">
        </form>
    </div>
    
</body>
</html>