<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="flex py-4 bg-blue-900 justify-between items-center px-8">
        <div class="h-20">
            <a href="/"><img src="/images/logo3.jpg" alt="logo" class="h-full"></a>
        </div>
        
        <div class="flex justify-between items-center">
            <a href="/users/register" class="bg-green-500 font-bold text-white p-2 rounded-lg text-xl hover:bg-green-400">Register</a>
            <a href="/users/login" class="bg-green-500 font-bold text-white p-2 rounded-lg text-xl ml-4 hover:bg-green-400">Login</a>
        </div>
    </nav>
</body>
</html>